<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="UTF-8">
  <title>Tablet Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tablet.css') }}">
</head>
  <script src="{{ url_for('static', filename='js/mobile.js') }}" defer></script>

</head>
<body>
  <h1>Hello Tablet User! 📝</h1>
  <p>This is the tablet version of the site.</p>
  <script src="{{ url_for('static', filename='js/tablet.js') }}"></script>
</body>
</html>
